.widget-explore-facilities {

  .explore-facilities-main-slider {

    .slick-list {
      @include breakpoint(large) {
        overflow: visible;
      }
    }

    &-slide {
      background-size: cover;
      background-position: center;
      position: relative;
      &:after {
        content: "";
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: rgba($black, .3);
      }

      &-inner {
        position: relative;
        z-index: 2;
        min-height: 80vh;
        @include breakpoint(large) {
          padding-top: 50px;
          padding-left: 50px;
          padding-bottom: 50px;
          min-height: 100vh;
        }

        &-title {
          line-height: 1;
          margin-bottom: 0;
          @include breakpoint(large) {
            font-size: 62px;
          }
        }

        &-address {
          @include breakpoint(large) {
            font-size: 18px;
          }
        }

        .separator {
          border-left: 2px solid $primary-color;
        }

        .facility-excerpt {
          padding: 2rem 2rem 0;
          background: $white;
          @include breakpoint(medium) {
            margin-top: $global-margin;
          }
          @include breakpoint(large) {
            transform: translateX(35%);
          }

          &-inner {

          }
        }
      }
    }
  }

  .explore-facilities-controls {
    padding-left: 2rem;
    padding-right: 2rem;

    .menu {
      margin-top: $global-margin;
      margin-bottom: 35px;

      > li {
        > a {
          color: $black;
          opacity: .4;
          transition: opacity .2s ease-in-out;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          &:after {
            content: "";
            height: 2px;
            width: 0;
            margin-left: 10px;
            background: $primary-color;
            display: inline-block;
            transition: width .2s ease-in-out;
          }

          &.active, &:hover {
            opacity: 1;
            &:after {
              width: 25px;
            }
          }
        }
      }
    }
  }

  .slick-custom {
    i {
      background: $white;
      border-radius: 50%;
      height: 30px;
      width: 30px;
      line-height: 30px;
      cursor: pointer;
      opacity: .8;
      transition: opacity .2s ease-in-out;
      box-shadow: 0 4px 10px rgba($black, .35);
    }
  }
}
